@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container hero-section text-center">
    <h1 class="main-header">
        Be Organized , Keep Every ToDo in Place And , <u>Task It</u> <i class="bi bi-check2-circle" style="color: #1F58A7"></i>
    </h1>

    <div class="main-icon">
        <i class="bi bi-list-check"></i>
    </div>

    

    <a class="main-btn" asp-action="AddTodo" asp-controller="Todos">Add Your Todos Here</a>
</div>